fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy>=2.0.0
asyncpg
python-multipart
python-jose[cryptography]
passlib[bcrypt]
fastapi-users[sqlalchemy]
psycopg2-binary
python-dotenv
httpx
